
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sjsu-blue text-white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-image: 
      radial-gradient(hsla(var(--primary) / 0.1) 1px, transparent 1px),
      radial-gradient(hsla(var(--accent) / 0.05) 1px, transparent 1px);
    background-size: 20px 20px, 40px 40px;
    background-position: 0 0, 10px 10px;
  }
}
